@font-face {
  font-family: "roboto";
  src: url("./ass/fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("./ass/fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("./ass/fonts/Roboto-Light.ttf");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("./ass/fonts/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.hero,
footer {
  background-color: #eaafaf;
  margin: 0px;
  padding: 0;
}

.navbar {
  height: 60px;
  height: 60px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar li {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar .nav {
  display: flex;
  gap: 0 10px;
}

.header {
  height: 70vh;
}

.header h1 {
  line-height: 1.2;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.header .header-main-text {
  font-weight: bold;
  font-size: 48px;
}

.header button {
  background-color: #e94848;
  font-size: 16px;
  color: white;
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 5px;
  border-color: #a7a7a7;
}

.header img {
  border-radius: 10px;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
}

.gallery .title {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 25px;
}

.gallery .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.gallery .card {
  width: 300px;
  height: auto;
}

.cat-pic {
  border-radius: 6%;
  box-shadow: 0px 3px 5px#e94848;
}

sub {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.confession {
  background-color: #ffd8d8;
  height: 50vh;
}

.confession .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.confession .quote {
  font-size: 18px;
  text-align: center;
  width: 50%;

  display: flex;
  flex-direction: column;
}

.call-to-action {
  background-color: #f6385e;
  padding: 20px 80px;
}

.call-to-action .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-up-button {
  background-color: inherit;
  color: white;
  border-color: white;
  font-size: 16px;
  padding: 4px 0;
  /* border-radius: 5px; */
  width: 100px;
}

footer {
  text-align: center;
  padding: 20px;
}
